<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No parking Violation Detection</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Artboard 1.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
        <header class="headerContainer">
            <a href="index.html">
                <img id="hdLogo" src="{{ url_for('static', filename='images/Artboard 1.jpg') }}" alt="Logo">
            </a>
        </header>
        <div class="camera-container">
        <video id="camera" autoplay></video>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
        <nav class="navContainer">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="paymentportal.html">Payment Portal</a></li>
                <li><a href="vechileownerreg.html">Registration</a></li>
                <li><a href="Reports.html">Reports</a></li>
            </ul>
        </nav>
        <div class="ads">
            <article>
                <h1 id = "adsTitle">E Penalty Notification System for Violating No Parking</h1>
                <p>Use code: 20OFF</p>
                <p id = "description">Lorem ipsum dolor sit amet, at probo doctus mel. Sed ei agam sanctus euripidis. Id eos dicit dicam noluisse, regione debitis feugait nam no. No sit feugiat efficiantur, ad mea quas ponderum.
    Est unum solet ne, has idque insolens ei, eu mei affert verear quaerendum. Et nam amet urbanitas. Ne est mutat assum. Magna graeci suscipit his te, ea eam dicta ornatus delicatissimi. Mel facer luptatum te, has atqui consul volutpat ad. At iusto legere nam, sed ei suas diam, has solet equidem scaevola in.
                </p>
            </article>
        </div>
        <div class="block left">
            <img class="cardImg" src="2.png">
            <article>
                <h3>Admin Dashboard</h3>
                <p>
                Lorem ipsum dolor sit amet, at probo doctus mel. Sed ei agam sanctus euripidis. Id eos dicit dicam noluisse, regione debitis feugait nam no. No sit feugiat efficiantur, ad mea quas ponderum.
                Est unum solet ne, has idque insolens ei, eu mei affert verear quaerendum. Et nam amet urbanitas. Ne est mutat assum. Magna graeci suscipit his te, ea eam dicta ornatus delicatissimi. Mel facer luptatum te, has atqui consul volutpat ad. At iusto legere nam, sed ei suas diam, has solet equidem scaevola in.Lorem ipsum dolor sit amet, at probo doctus mel. Sed ei agam sanctus euripidis. Id eos dicit dicam noluisse, regione debitis feugait nam no. No sit feugiat efficiantur, ad mea quas ponderum.
                Est unum solet ne, has idque insolens ei, eu mei affert verear quaerendum. Et nam amet urbanitas. Ne est mutat assum. Magna graeci suscipit his te, ea eam dicta ornatus delicatissimi. Mel facer luptatum te, has atqui consul volutpat ad. At iusto legere nam, sed ei suas diam, has solet equidem scaevola in.

                </p>
            </article>
            <button class="blockButton">Admin Login<a href="AdminLogin.html"></a></button>
        </div>
        <div class="block med">
            <img class="cardImg" src="1.png">
            <article>
                <h3>Violator Dashboard</h3>
                <p>
                Lorem ipsum dolor sit amet, at probo doctus mel. Sed ei agam sanctus euripidis. Id eos dicit dicam noluisse, regione debitis feugait nam no. No sit feugiat efficiantur, ad mea quas ponderum.
                Est unum solet ne, has idque insolens ei, eu mei affert verear quaerendum. Et nam amet urbanitas. Ne est mutat assum. Magna graeci suscipit his te, ea eam dicta ornatus delicatissimi. Mel facer luptatum te, has atqui consul volutpat ad. At iusto legere nam, sed ei suas diam, has solet equidem scaevola in.
                </p>
            </article>
            <button class="blockButton">Violater Login</button>
        </div>
        <div class="block right">
            <img class="cardImg" src="3.jpg">
            <article>
                <h3>Scan or upload licence plate</h3>
                <p>
                Lorem ipsum dolor sit amet, at probo doctus mel. Sed ei agam sanctus euripidis. Id eos dicit dicam noluisse, regione debitis feugait nam no. No sit feugiat efficiantur, ad mea quas ponderum.
                Est unum solet ne, has idque insolens ei, eu mei affert verear quaerendum. Et nam amet urbanitas. Ne est mutat assum. Magna graeci suscipit his te, ea eam dicta ornatus delicatissimi. Mel facer luptatum te, has atqui consul volutpat ad. At iusto legere nam, sed ei suas diam, has solet equidem scaevola in.
                </p>
            </article>
            <button class="blockButton">Start</button>
        </div>
        <footer class="footerContainer">
            <div class="footer-left">
                <img id = "footerImg" src="Artboard 22.png">
            </div>
            <div class="footer-right">
                <hr class="line">
                <p>©Prakash EPNS. All Rights Reserved.</p>
            </div>
        </footer>
    </body>
</html>
